
.signup {
    padding: 3rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(#fff, .75);
    margin: 15rem auto;

    &__title {
        font-size: 6rem;
    }
    &__subTitle {
        font-size: 4rem;
    }

    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        &--title {
            font-size: 2rem;
            font-weight: 500;
        }
    }

    &__Email {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--title {
            font-size: 2rem;
            font-weight: 500;
        }
    }

    &__Password {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        &--title {
            font-size: 2rem;
            font-weight: 500;
        }
    }

    &__submit {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 2rem;
        padding: 1rem 2rem;
        margin: 2rem 0;
        border-radius: .5rem;
        background-color: rgba($color: #2594b6, $alpha: 1.0);
        color: #fff;
        cursor: pointer;
    }

    &__link {
        // text-decoration: none;
        font-size: 2rem;
    }
}