.input {
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    outline: none;
    border-radius: 1rem;
    max-width: 32rem;
    border: .4rem solid #666;
    &:active, &:focus {
        border: .4rem solid #56b4ef;
        box-shadow: 0px 0px .3rem .1rem #bdd9f0;
    }
}